@page
@model OficinaConectada.Views.Home.ContactModel
@{
}

<div class="background position-relative">
    <img src="
    https://images.unsplash.com/photo-1486006920555-c77dcf18193c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2FyJTIwc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60
    " class="background-img img-fluid" alt="...">
</div>

<div class="position-absolute top-0 start-50 translate-middle-x">
    <h2 class="headline text-light text-center me-2">Mensagem enviada com sucesso!</h2>
    <div class="text-center">
        <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Voltar a página inicial</a>
    </div>
</div>
<div class="container text-align-center mt-5">
    <h3>Para ler as mensagens enviadas, abra o arquivo contatos.txt na pasta raíz do projeto.</h3>
</div>